DATABASE_URL="postgresql://postgres:docker@localhost:5432/carrinho?schema=public"
PORT= 
JWT_PRIVATE_KEY="tem que ser 'base64' com algorithms 256"
exemplo 
"LS0tLS1CRUdJTiBQUklWQVRFIEtFWS0tLS0tDQpNSUlFdmdJQkFEQU5CZ2txaGtpRzl3MEJBUUVG
QUFTQ0JLZ3dnZ1NrQWdFQUFvSUJBUUM3VkZ2S0QzWmdmSWx3DQpONWNiejdwVFlQNm5TcnBhc09Z
THIyN3ZvWk14SjFqQ0t0NG5PL2Q2dGlnKzg4OEllemJJU3hrZTRiSXJoMk0yDQpJRUlhdm1Ld2xq
Qkp1UW1HWm9NMXNuQlN5R1pwUzUraVc2ZEwwenk5RUFrOEU5M0NYa3h5OWI5d3c2S0M1VWlmDQpk
Zm9abFFIRXBHbW4yemM0Q01YVUFlL09xTmM0endXeGx1WjZPMitLSkhzNUZFOFVldlhoeTdDQzFz
MUdtRXE0DQoyeE1laTJUVURyZmNWOFNpZk96MGZWTFI0UDRIVExyWEdvaWdrY1o0YWRrVEdjVnVM
WE5LdTJVejN3YVgyR3RaDQpDOGRUTWFYeTRSMkduTllWUGVVMmRsY05FODNXa0IxbFJESVUrcDhG
bFlHM1NNQWV0cEZWMGZBL3ppSytGanBnDQorNktlazVRdkFnTUJBQUVDZ2dFQkFJQktLM3BiMElR
UGhjZzJLZVJBQktpcFdueVRMc0NCT1dwelFKUVhvVWdlDQpYQ2pOVnNxanhMNWpGWGpYVzhmQktp
bE5WT3pUUUVPVE9weU14dml0dmNTVmRvaG1rbUZhdnl6OUFQT1FqcUk1DQp5aDlVaVdQaVRFeG1P
UXpOeGljZ2tWYUJlaFB0eHRQQjFsUnVaVk16dXJ4Q3BLRHgvZ1QvN1F0ZU1DN2xiazlXDQpPem0x
cjg4RzJqTnJ6THc4TDFqVzcvSUxRS09iN0poY201cEtMbis4RzhxOHZHMHB1VnVmWFdtVExpMFJC
UE9SDQpYL0ZEMDNWWUVqRC9yRUNxQWIvWHpPK3FlWm9QTzRBZnhnL1FmajRDSDd3OXZGRXRIaXFn
TC95MW5BeUQyQVZMDQorUE1GenVlOGFVd20yVmxhUnIxNFZvdVhvS0VMSjZIRGE5WTQ0WDNLekhF
Q2dZRUE2bWM1YVp2Nlh0ZU5aTE1GDQpPVTd4ZDR4dXh3a1ZaQXZ1WWRYUjFJSXVRYzRLdkI4akoz
MFFobXE1Y0tZNXp1cE8vQ1JxMU4yZ1ZFL1JySlJEDQpqYWh6Vy8xeGZwclB5VTY5QUQ2NU9URFBk
TjBIaXBoWEFuZXVmK0RRVU9UbWxRSVZrdUtuVXRpUUFJZ1ltdWJiDQpYMHpGQU9yNTVSUElNQlJm
RVhMaVliK0ZRR3NDZ1lFQXpKYlRZNVdzdG0xUHI3UzQrSVEzQzY0NDFrV0VPQkpnDQpWSThXa0hN
MmVwV0lYOWVYTlNKMERKZzBOSHlzMGIvVmlSekhlTUVXSE9jZGRFSml6Y3UzOFNLRFlIeHI1U295
DQpSMEEwU2xBTzBIdWg0Ti9TaTFPT2NneU00M29TdFJ3N3EvOWM2OEM2RG00L0V5U3Z4VHRtelFi
ZHJZTFFiam5QDQp1UkY3TUtnNm5FMENnWUVBNGJrQmVvZXZ0SUVTTWJTTEJVTFdHRzl0aGRGamZm
SlhYbk5QR3JzNTNEaVQ4ZEJ5DQpRK2FWY1R0NDA5ZmV0emkvVXVPbTFOR1BRV0dUNGdMc2dvK0Nk
MFU2YzlhVTNhQXJOUDh4MHJjRUw5OWhFYi9kDQptZ3l5UjRhd1ZCWDVUZWl4NmI3RnJtdkpVQm0r
eC93anFFUC9PZ0VOSCtISzF6SG0wcUMxQzdnb2szMENnWUJaDQp2L2l3QVNNcFREN2U1N3NWV25z
RFpzU01TeWE3cW1RVDlFbUR5T2NuVTUzbDNaLzVzVW1UbE5taUJPZVRoRUphDQp5Z00vbUFUcFhR
SHcxSWFmblRUdVZhT29taXlDOWNYa3QrZTRpZkpWeDBhMmJibmhZU0JtSzlkS20yekZnc015DQpx
dTNLaGx1WXBRaUtqMWVFZ0pDU2RPYWVqWHArUUdJOTM4dFpCeFBmS1FLQmdIWWNSamNSU2xMbHBL
WDc0NU5YDQpmNFFlaW9XOWFXdXhQWk9MU1lqWVhtN1U1b0N2djk3SlZPZ1BFMVp3NTUwUDV5Qmk4
b2NlRDU1aFp0NEdQNStmDQpEbzRyeEc2RnZPenRYbUt3VHpHMXpZYnlVQjk2eVRjSEpYRzJ2cG1D
dlJKSlVzSjhUbytMWmNWR3JLSnV4QlZPDQpZVm02RjVndW5LdDVwdy81VkVFbFNGMFMNCi0tLS0t
RU5EIFBSSVZBVEUgS0VZLS0tLS0=
"
JWT_PUBLIC_KEY= "mesma coisa tem que ser 'base64' com algorithms 256"
exemplo
"LS0tLS1CRUdJTiBQVUJMSUMgS0VZLS0tLS0NCk1JSUJJakFOQmdrcWhraUc5dzBCQVFFRkFBT0NB
UThBTUlJQkNnS0NBUUVBdTFSYnlnOTJZSHlKY0RlWEc4KzYNClUyRCtwMHE2V3JEbUM2OXU3NkdU
TVNkWXdpcmVKenYzZXJZb1B2UFBDSHMyeUVzWkh1R3lLNGRqTmlCQ0dyNWkNCnNKWXdTYmtKaG1h
RE5iSndVc2htYVV1Zm9sdW5TOU04dlJBSlBCUGR3bDVNY3ZXL2NNT2lndVZJbjNYNkdaVUINCnhL
UnBwOXMzT0FqRjFBSHZ6cWpYT004RnNaYm1lanR2aWlSN09SUlBGSHIxNGN1d2d0Yk5ScGhLdU5z
VEhvdGsNCjFBNjMzRmZFb256czlIMVMwZUQrQjB5NjF4cUlvSkhHZUduWkV4bkZiaTF6U3J0bE05
OEdsOWhyV1F2SFV6R2wNCjh1RWRocHpXRlQzbE5uWlhEUlBOMXBBZFpVUXlGUHFmQlpXQnQwakFI
cmFSVmRId1A4NGl2aFk2WVB1aW5wT1UNCkx3SURBUUFCDQotLS0tLUVORCBQVUJMSUMgS0VZLS0t
LS0NCg=="
SESSION_SECRET = 'teste'